*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

p{
    font-size: 20px;
    font-weight: 400;
    color: #757575;
    line-height: 30px;
}

.orange-color{
    color: #FD6E0A;
}

.orange-btn{
    background-color: #FD6E0A;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
}

button{
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 5px;
}

/*header styls*/
header{
    padding: 0px 150px;
    background-color:#FFF8F3;
}

nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/*Logo Style*/
.logo{
    font-size: 60px;
    font-weight: bold;
}

.logo span{
    font-size: 80px;
}

/*Menu style*/


nav ul{
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
}

/*Hero section Style*/
.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #FFF8F3;
    background-image: url(./img/header_bg.png), url(./img/developer.png);
    background-repeat: no-repeat;
    background-position: right bottom, left center;
    overflow: hidden;
}


.hero-info{
    padding-left: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.hero-info h3{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}

.hero-info h1{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
}

.hero-info .two-btn{
    margin-top: 30px;
}

.hero-info button{
    border: none;
    padding: 10px 30px;
    border-radius: 7px;
}

.hero-info .btn-contact{
    background-color: transparent;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
}

/*hero moderl image*/
.hero .model-img{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


/*About me Section Style*/
.about-me{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF8F3;
    margin: 100px 250px;
    padding: 130px;
    border-radius: 10px;
}



.about-me p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.about-me .info-about{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.about-me .info-about > div{
    margin: 0px 30px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.123);
    padding: 30px;
    border-radius: 5px;
}

.about-me .info-about > div h5{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
}

.about-me .info-about > div h4{
    font-size: 20px;
    color: #494949;
    line-height: 30px;
}
.what-I-Do{
    margin: 200px 250px;
}

.what-I-Do .profession-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 70px;
}
.what-I-Do .profession-box > div{
    padding: 20px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.116);
}
.profession-box h5{
    margin: 20px 0px;
    font-size: 22px;
}

/*summary info Style*/
.summary{
    margin: 70px 250px;
}
.summary-info{
    margin-top: 100px;
    display: flex;
    gap: 50px;
}
.summary-info > div{
    width: 50%;
}
.summary-info-box{
    margin-top: 20px;
}
.summary-info h4{
    font-size: 22px;
    margin-bottom: 10px;
}

.summary-info p{
    margin: 20px 0px;
}


/*Mobile responsive*/
@media screen and (max-width: 600px ){
    /*Header Mobile responsive*/
    header{
        padding: 10px;
    }

    /*hero section mobile responsive*/
    .hero{
        height: fit-content;
        flex-direction: column;
        background-image: url(./img/header_bg.png);
        background-repeat: no-repeat;
        background-position: center bottom;
    }
    .hero-info{
        width: 100%;
        padding-left: 20px;
    }
    .hero-info h1{
        font-size: 60px;
    }
    .hero-info h3{
        font-size: 35px;
    }
    .hero .model-img{
        width: 100%;
    }

    /*About me section mobile responsive*/
    .about-me{
        margin: 20px;
        padding: 10px;
        padding-bottom: 30px;
        height: fit-content;
    }
    .about-me .info-about{
        grid-template-columns: repeat(1, 1fr);
    }

    .about-me .info-about > div h4{
        font-size: 18px;
    }

    /* What I do section mobile responsive*/
    .what-I-Do{
        margin: 20px;
        padding: 10px;
    }
    .what-I-Do .profession-box{
        grid-template-columns: repeat(1, 1fr);
    }

    /*Summary of my resume*/
    .summary{
        margin: 20px;
    }
    .summary-info{
        padding-top: 0px;
        flex-direction: column;
    }
    .summary-info > div{
        width: 100%;
    }
}

/*Tablate Devices Responsive*/
@media screen and (min-width: 601px) and (max-width: 820px){
    /*Header tablet responsive*/
    header{
        padding: 20px;
    }

    .hero{
        height: fit-content;
        flex-direction: column;
    }
    .hero-info{
        width: 100%;
        padding-top: 100px;
        padding-right: 150px;
        overflow: hidden;
        
    }
    .hero .model-img{
        width: 100%;
    }

    /*about me section tablate responsive*/
    .about-me{
        margin: 30px;
        padding: 30px;
        height: fit-content;
    }

    .about-me .info-about{
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 30px;
    }

    /*what I do section tablate responsive*/
    .what-I-Do{
        margin: 20px;
        padding: 20px;
    }
    .what-I-Do .profession-box{
        grid-template-columns: repeat(2, 1fr);
    }

    /*Summary section tablate responsive*/
    .summary{
        margin: 20px;
        padding: 10px;

    }
}